@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Bookmark Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="list-group d-flex align-items-center" id="anime-list">
    <!--THe code is called from the bookmark.js where the methods are for calling from the api-->
</div>
    <script src="~/js/bookmark.js" asp-append-version="true"></script>
