@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a admin only area. You won't be able to make changes to any of the modules.</p>
    <p>To make changes please sign in using your admin account.</p>
</div>
