@model AniWatch.ViewModels.AnimeCategoryViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AnimeCategories</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <select asp-for="AnimeId" class="form-select form-control">
                    @foreach(Anime anime in Model.Animes){
                        <option value="@anime.AnimeId">@anime.AnimeName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <select asp-for="CategoryId" class="form-select form-control">
                    @foreach(Category category in Model.Categories){
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                </select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
