


@{
    ViewData["Title"] = "Watch";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div id="anime-details">
    <!-- Placeholder for anime details -->
</div>

<div id="episodes-list">


</div>



    

<script src="~/js/Anime.js" asp-append-version="true"></script>