@using Anime_Streaming_Platform.Models
@model Anime_Streaming_Platform.ViewModels.MangaAnimeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>Create</h1>

<h4>Manga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MangaName" class="control-label"></label>
                <input asp-for="MangaName" class="form-control" />
                <span asp-validation-for="MangaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MangaDesc" class="control-label"></label>
                <input asp-for="MangaDesc" class="form-control" />
                <span asp-validation-for="MangaDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Select Anime</label>
                <select asp-for="AnimeId" class="form-select form-control">
                    @foreach(Anime anime in Model.Animes){
                        <option value="@anime.AnimeId">@anime.AnimeName</option>
                    }
                </select>
                   
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
